.nav-link{
    text-decoration: none;
    color:white;
}
a:hover{
    color:white;
}
.navbar-brand{
    text-decoration: none;
    color:white;
    font-size:2rem;
}
.btn-primary{
    margin-left:45rem;
}


@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
/* background-size: cover; */
/* background-repeat: no-repeat; */
background-color: #f6f7fb;
height: 100%;
font-family: 'Poppins', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.topbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    justify-content: space-between;
}
.topbar-leftmenu {
    display: flex;
    align-items: center;
}
.topbar-menuItem {
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
}
.topbar-logoWrapper {
    margin-right: 36px;
    display: flex;
    align-items: center;
}
.topbar-logoWrapper img {
    width: 34px;
    height: 38px;
    margin-right: 8px;
}
.topbar-Brandname {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0,0,0,.8);
}